[submodule "rack"]
	path = rack
	url = https://github.com/efgehrke/tcc1.git
[submodule "tcc"]
	path = tcc
	url = https://github.com/efgehrke/tcc1
[submodule "submodule"]
	path = submodule
	url = https://github.com/efgehrke/tcc1.git
